*{
   margin:0%;
   padding:0%;
   box-sizing:border-box; 
 
}
#nav{
    border: 2px solid;
    height:50px;
    background-color:rgba(0, 0, 0, 0);
    
}
#sub-nav{
    border:2px solid rgb(161, 22, 22);
    height:inherit;
    width:68%;
    margin: auto;
    

}
#sub-nav ol{
    list-style: none;
    display:flex;
    justify-content: space-between;
    align-items:center;
}